@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 100; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Thin.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 100; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ThinItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 200; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraLight.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 200; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraLightItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 300; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Light.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 300; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-LightItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 400; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Regular.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 400; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Italic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 500; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Medium.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 500; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-MediumItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 600; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-SemiBold.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 600; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-SemiBoldItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 700; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Bold.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 700; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-BoldItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 800; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraBold.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 800; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraBoldItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 900; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Black.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 900; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-BlackItalic.woff2") format("woff2"); }

body {
    background-color: #2F2F2F;
    background-repeat: repeat;
    color: white;
    font-family: 'InterDisplay';
    font-size: 19px;
  }

  @media only screen and (max-width: 1000px) {
    p {
        font-size: 6vw;
    }
}
@media only screen and (min-width: 1000px) {
    p {
        font-size: 2vw;
    }
}

.wrap-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px outset white;
    border-radius: 10px;
    text-decoration: none;
    background:  rgba(25, 25, 25, 0.2);
    margin: 25px;
    margin-bottom: 60px;
    margin-top: 0;
}

.img-container:hover{
    border: 2px outset #F9A03F;
}

.img-container:hover .img-preview{
    border: 2px solid #F9A03F;
}

.img-container:hover .desc-title {
    color: #F9A03F;
    font-weight: bold;
}

.img-container:hover .desc-text {
    color: #F9A03F;
    text-decoration-color: #F9A03F;
}
.img-container:hover .desc-title::before{
    content: "[";
}

.img-container:hover .desc-title::after{
    content: "]";
}

.img-preview {
    border: 2px solid white;
    border-radius: 10px;
}

img {
    width: 83%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 10px 10px black;
    border-radius: 10px;
}

#q
{
    box-shadow: none;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-aspect-ratio: 1/1) {
    /* For phone */

.img-table {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container {                  
    flex-basis: 100%;                       
    align-items: center;                             
    text-decoration: none;                      
    margin-left: 5px;
    margin-right: 5px;
}

img{
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    font-size: 15vw;
}
}

@media screen and (min-aspect-ratio: 1/1) {
    /* For PC */

.img-table {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin:1vw 5vw 1vw 5vw; 
}

.desc-title::before, .desc-title::after {
    content: "-";
}


.img-container {
    width: 30%;
}

img{
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-size: 5vw;
}
}

.bottom-bar {
    text-align: center;
}

.desc-text {
    font-size: 75%;
    margin-right: auto;
    margin-left: 7%;
    margin-top: auto;
    margin-bottom: 5%;
    text-align: left;
    display: block;
    align-self: flex-end;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}
.desc-title {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
    text-align: center;
    display: block;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
p {
    color: white;
    text-align: center;
}

a {
    color: #F9A03F;
    text-align: center;
}

iframe {
    padding: 10px;
    width: 90%;
    height: auto;
    aspect-ratio: 4/3;
}