body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Space Grotesk';
  }

header {
    text-align: center;
    font-size: 500%;
    display: block;
    margin: 50vh auto;
} 