@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(25, 25, 25);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='1' fill='%23808080' /%3E%3C/svg%3E");
    background-repeat: repeat;
    color: white;
    font-family: 'Space Mono';
    margin: 0;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(42, 42, 42);
    text-shadow: none;
    outline: 10px white;
    text-shadow: -1px -1px 0 rgb(97, 97, 97), 1px -1px 0 rgb(97, 97, 97), -1px 1px 0 rgb(97, 97, 97), 1px 1px 0 rgb(97, 97, 97);
}

@media screen and (max-aspect-ratio: 1/1) {
    /* For mobile */

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        font-size: calc(min(4.5vw, 17px));
    }

    p {
        font-size: 7vw;
    }

    .intro-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .pfp {
        max-width: 76vw;
        min-width: 64px;
        max-height: 90vh;
        min-height: 64px;
    }

    .abt-text-name {
        display: block;
        text-align: center;
        margin: 10px;
        margin-bottom: 0px;
        max-width: 512px;
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
        flex-basis: 50%;
        line-height: 1.2;
        font-size: calc(min(4.5vw, 25px));
    }

    p.name {
        margin-top: 0px;
        margin-bottom: 0px;
        height: auto;
        font-size: 360%;
        font-weight: bolder;
        line-height: 1.1;
    }

    .abt-contacts {
        min-width: fit-content;
        font-size: 130%;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }

    h1 {
        font-size: 15vw;
    }

    .buttons-list {
        justify-content: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 100%;
    }
}

@media screen and (min-aspect-ratio: 1/1) {

    /* For non-mobile */
    body {
        margin: 1vw 5vw 1vw 5vw;
        font-size: calc(min(1.5vw, 19px, 2vh));
        display: flex;
        flex-direction: column;

        margin-top: 0px;
        justify-content: start;
    }

    p {
        font-size: calc(min(2vw, 30px, 5vh));

    }

    .intro-card {
        display: flex;
        flex-direction: row;
        align-self: center;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 75vh;
        overflow: hidden;
        margin-top: 10vh;
    }

    .pfp {
        max-width: 484px;
        min-width: 200px;


        height: calc(min(50vh, 50vw));

    }

    .abt-text-name {
        display: block;
        text-align: left;
        margin: 10px;
        max-width: 512px;
        min-width: 256px;
        height: 50vh;

        padding-top: 0px;

        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    p.name {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 500%;
        line-height: 100%;
    }

    .abt-contacts {
        min-width: fit-content;
        text-align: center;
        justify-content: center;
        padding: 10px;
        padding-top: 30px;
    }

    h1 {
        font-size: calc(max(5vw, 7vh));
        margin-top: 0;
    }

    .buttons-list {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: start;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 50vh;
    }
}

.module {

    display: flex;
    flex-direction: column;
    justify-content: center;


    min-height: 75vh;


    justify-content: start;
}

.pfp {


    margin: 10px;

    display: block;

}

.button {
    margin: 5px;
    padding: 10px 10px 10px 10px;
    border-style: outset;
    border-color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background: rgba(25, 25, 25, 0.2);
    font-size: 150%;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.801);
    flex: 1;
    flex-grow: 0;
}

.button::before {
    content: "-";
}

.button::after {
    content: "-";
}

.button:hover::before {
    content: "[";
}

.button:hover::after {
    content: "]";
}

.button:hover {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 185, 34);
}

img {
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 100%;
}

footer {
    text-align: center;
    padding-top: 5%;
    position: sticky;
    bottom: 0;
}

::selection {
    color: black;
    background: white;
}