@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 100; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Thin.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 100; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ThinItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 200; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraLight.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 200; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraLightItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 300; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Light.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 300; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-LightItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 400; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Regular.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 400; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Italic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 500; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Medium.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 500; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-MediumItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 600; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-SemiBold.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 600; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-SemiBoldItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 700; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Bold.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 700; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-BoldItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 800; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraBold.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 800; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-ExtraBoldItalic.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 900; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-Black.woff2") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 900; font-display: swap; src: url("../fonts/Inter-4.0/InterDisplay-BlackItalic.woff2") format("woff2"); }

@font-face { font-family: "Jost"; font-style: normal; font-weight: 300; font-display: swap; src: url("../fonts/Jost/TrueType/Jost-300-Light.ttf") format("truetype"); }
@font-face { font-family: "Jost"; font-style: normal; font-weight: 900; font-display: swap; src: url("../fonts/Jost/TrueType/Jost-900-Black.ttf") format("truetype"); }

@font-face { font-family: "Poppins"; font-style: normal; font-weight: 800; font-display: swap; src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"); }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #141414;
    color: #FFFFFC;
    font-family: 'Jost';
    font-weight: 300;
    margin: 0;
  }

@media screen and (min-aspect-ratio: 1/1) {
    /* For non-mobile */
    body {
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 5vh;
        font-size: calc(min(1.5vw, 19px, 2vh));
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
    }
    p {
          font-size: calc(min(2vw, 30px, 5vh));
    }
    .intro-card {
        display: flex;
        flex-direction: column;
        align-self:flex-start;
        align-items:flex-start;
        text-align:left;
        width: 22vw;
        margin-left:5vw;
        margin-right: 5vw;
    }
    .showcase {
        width: 60vw;
        border-left: 1px solid white;
    }    .button:hover::after {
        content: "]";
    }
    .video-link
    {
        display: block;
        position: relative;
        text-align: center;
        color: white;
        width:40vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
        font-family: InterDisplay;
    }
    .video-link p{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-weight: 800;
    }
    .video-link img{
        object-fit: cover;
        height: 25vw;
        width: 100%;
        border-radius: 1vh;
        border: 2px solid #FFFFFC;
    }
    .video-link:hover img{
        background-color: white;
        opacity: 90%;
    }
    .video-link:hover p{
        visibility: hidden;
    }
    .video-link:hover p::after{
        visibility: visible;
        display: block;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: 'vimeo';
        opacity: 50%;
    }
    .abt-text-name {
        display: block;
        text-align: left;
        margin:0%;
        padding: 0%;
        font-weight: 300;
    }
    p.abt{
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    p.name {
        font-family: Poppins;
        font-weight: 800;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 500%;
        line-height: 100%;
    }
    .buttons-list{
        font-family: InterDisplay;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0.5vw;
    }

    .button::before {
        content: "";
        display: inline-block;
        width: 0.5ch;
    }
    
    
    .button:hover::before {
        content: "[";
        display: inline-block;
        width: 0.5ch;
    }
    
    .button:hover {
        color: #D7263D;
    }

    hr{
        width: 80%;
        margin-left: 0px;
    }
    
}

@media screen and (max-aspect-ratio: 1/1) {
    /* For mobile */
    body {
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 5vh;
        font-size: calc(min(1.5vh, 19px, 2vh));
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
    }
    p {
          font-size: calc(min(2vh, 30px, 5vh));
    }
    .intro-card {
        display: flex;
        flex-direction: column;
        align-self:flex-start;
        align-items:flex-start;
        text-align:left;
        width: 100%;
        margin-left:5vw;
    }
    .showcase {
        margin-top: 5vh;
        width: 100%;
    }
    .video-link
    {
        display: block;
        position: relative;
        text-align: center;
        color: white;
        width: 84vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
    }
    .video-link p{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-weight: 800;
    }
    .video-link img{
        object-fit: cover;
        height: 56vw;
        width: 100%;
        border-radius: 1vh;
        border: 4px solid black;
        box-shadow: 10px 10px #2f2f2f;
    }
    .video-link:hover img{
        background-color: white;
        opacity: 90%;
    }
    .video-link:hover p{
        visibility: hidden;
    }
    .video-link:hover p::after{
        visibility: visible;
        display: block;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: 'vimeo';
        opacity: 50%;
    }
    .abt-text-name {
        display: block;
        text-align: left;
        margin:0%;
        padding: 0%;
        font-weight: 300;
    }
    p.name {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 500%;
        line-height: 100%;
    }
    .buttons-list{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    hr{
        width: 90%;
        margin-left: 0px;
    }
}


.button {
    margin-top: 0.5vh;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    font-size: 150%;
    text-transform: lowercase;
    font-weight: bold;
    text-shadow: none;
    flex: 1;
    flex-grow: 0;
    width: 100%;
    color: #FFA552;
}

#contacts > .button{
    color: #7699D4;
}

#contacts{
    color: #7699D4;
}
#contacts > .button:hover {
    color: #D7263D;
}

img{
    width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 100%;
}
.break {
    flex-basis: 100%;
    height: 0;
  }

footer{
    text-align: center;
    padding-top: 5%;
    position: sticky;
    bottom: 0;
    width:100%;
    font-weight: 200;
}

 
::selection {
   color: #2f2f2f;
   background: white;
}